<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все товары</title>
</head>
<body>
    <h1>{{ page_header }}</h1>

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
    <table>
    <tr>
        <th>Название</th>
        <th>Цена</th>
        <th>Поставщик</th>
        <th>Актуализировано</th>
    </tr>
    {% for object in goods %}
        <tr>
            <td>{{ object.title }}</td>
            <td>{{ object.price }}</td>
            <td>{{ object.vendor }}</td>
            <td>{{ object.modified_at }}</td>
        </tr>
    {% endfor %}
    </table>




</body>
</html>